<article class="post">
    <div class="title">{{title}}</div>
    <div class="post-text">{{post_text}}</div>
    <div class="meta">
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>